// Progress bar
//
// The Progress bar.
//
// Markup: progress-bar.hbs
//
// Style guide: components.progress-bar

.progress-bar,
%progress-bar {
  @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.1) inset);
  background-color: color(white-smoke);
  border-radius: 4px;
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;

  &__bar {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

  &__fill {
    @include box-shadow(0 -1px 0 rgba(0, 0, 0, 0.15) inset);
    @include transition(width 0.6s ease 0s);
    background-color: color(steelblue);
    color: color(white);
    float: left;
    font-size: 12px;
    height: 100%;
    line-height: 20px;
    text-align: center;
    width: 0;
  }

  &__percentage,
  &__message {
  	color: color(white);
  	float: left;
  	margin-left: 5px;
  	margin-top: -2px;
  	position: relative;
  	z-index: 2;
  }
}

//
// Drupal selectors.
//

.progress {
  @extend %progress-bar;

  .bar {
    @extend %progress-bar__bar;
  }

  .filled {
    @extend %progress-bar__fill;
  }

  .percentage {
    @extend %progress-bar__percentage;
  }

  .message {
    @extend %progress-bar__message;
  }
}
