// Pager
//
// Paged navigation is a list of page numbers when more than 1 page of content
// is available.

.pager,
%pager {
  text-align: center;

  // A page item in the pager list.
  &__item {
    // Inherit from agov_base.
  }

  &__item-icon {
    font-size: 17px;
    padding: 0 2px;
  }

  .fa {
    @extend %pager__item-icon;
  }

  // The current page's list item.
  &__current-item {
    font-weight: bold;
    color: color(link);
    background: color(pager-bg);
  }

  &__link {
    border: 1px solid color(border);

    &:hover,
    &:focus {
      background: color(pager-bg);
    }
  }
}
