@import 'library/rtl';

// Lists
//
// Mixin to create a list of links that are unstyled or inline with each other, with rtl support

@mixin unstyled-list {
  padding-left: 0;
  text-indent: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  list-style-image: none;

  // Turn off margins/padding on nested lists.
  ol,
  ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
}

@mixin inline-list-item {
  @include padding(0 .75 0 0);
  display: inline;
  list-style-type: none;

  @include rtl() {
    @include padding(0 0 0 .75);
    // Bug in Safari causes display: inline to fail.
    display: inline-block;
  }
}
