// Social
//
// The social of page

.social,
%social {
  &__title {
    // Inherit from agov_base.
  }

  &__list {
    // Inherit from agov_base.
  }

  &__item {

    a {
      @include border-radius(100%);
      background: color(social-bg);

      &:hover {
        background: color(social-bg-hover);
      }

      span {
        color: color(social-icon);
      }
    }
  }
}


// Join the dots for the linkicon generated markup.
.linkicon--social ul {

  li {
    @extend %social__item;
  }
}
