// Search
//
// A simple search styling.
//
// Markup: search.hbs
//
// Style guide: components.search


.search,
%search {
  color: color(search-color);
  background: color(search-bg);
  position: relative;

  &--light {
    @include respond-to('header-desktop') {
      color: color(search-color-light);
      background: transparent;
    }
  }

  &__wrapper {
    padding: 15px 20px;

    @include respond-to('header-desktop') {
      position: relative;
      bottom: 0;
      padding: 14px 5px 5px;
    }
  }

  &__inner-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid color(search-border);
  }

  &__input-wrapper {
    margin: 0;
    // scss-lint:disable ImportantRule
    display: block !important;
  }

  &__input {
    @include box-shadow(none);
    background: none;
    border: 0;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    padding: 12px;

    @include input-placeholder() {
      @include opacity(1);
      color: color(search-color);
    }

    &--light {
      @include respond-to('medium') {
        border-bottom: 2px solid color(search-border);
        min-width: 363px;

        @include input-placeholder() {
          color: color(search-color-light);
        }

        &:hover,
        &:focus {
          border-color: color('white');
        }
      }
    }
  }

  &__button-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 3.5em;
    height: 3em;
    display: block;
    color: color('search-button');

    &:hover {
      color: color('search-color');
    }

    &--light {
      color: color('search-button-light');

      &:hover {
        color: color('white');
      }
    }
  }

  &__button {
    @extend %search__button-wrapper;
    padding: 0;
    margin: 0;
    border: 0;
    text-indent: -999em;
    background: none;

    // Override the hover to counteract .button:hover
    &:hover,
    &:focus {
      background: none;
    }

    &--light {
      @include respond-to('header-desktop') {
        background: none;
        bottom: 0;
        padding: 0;

        // Override the hover to counteract .button:hover
        &:hover {
          background: none;
        }
       }
    }
  }

  &__icon {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0 .75em;
    padding: 12px 0;
    font-size: 1.5em;
    color: currentColor;
  }
}

// Toggle the two search blocks for now.
// scss-lint:disable IdSelector
#block-searchform-2 {
  display: none;
  float: right;
}

// scss-lint:disable IdSelector
#block-searchform {
  display: block;
}

@include respond-to('header-desktop') {
  #block-searchform-2 {
    display: block;
  }

  #block-searchform {
    display: none;
  }
}
