<ul class="unstyled-list sidebar-menu menu">
  <li class="menu-item menu-item--collapsed menu-item--active-trail"><a href="/nam-vitae-diam" data-drupal-link-system-path="#" class="is-active">Nam vitae diam</a></li>
  <li class="menu-item"><a href="/curabitur-pretium" data-drupal-link-system-path="#">Curabitur pretium</a></li>
  <li class="menu-item"><a href="/cras-at-faucibus" data-drupal-link-system-path="#">Cras at faucibus</a></li>
</ul>
