// Header
//
// The header of page.
//
// Markup: header.hbs
//
// Style guide: components.header

.header,
%header {
  background: color(header-background);
}

.header__inner {
  max-width: $container;
  margin: 0 auto;
  padding: 30px 35px 20px;

  @include respond-to(medium) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.header__logo {
  float: left;
}

.header__region {
  @include respond-to(medium) {
    float: right;
  }
}
