// Header
//
// The header of page.
//
// Markup: header.hbs
//
// Style guide: components.header

.header,
%header {
  background: color(header-background);
  position: relative;
  margin-bottom: 80px;

  @include respond-to('medium') {
    margin-bottom: 0;
  }
}

.header__inner {
  padding: 30px 35px 20px;

  @include respond-to(medium) {
    padding-left: 10px;
    padding-right: 10px;
  }
}


@include respond-to(medium) {
  .header__logo {
    float: left;
  }

  .header__region {
    float: right;
  }
}

.header__search,
%header__search {
  bottom: -70px;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;

  @include respond-to('medium') {
    position: relative;
    bottom: 0;
  }

  form {
    @extend %search-form;
  }
}

.block-search,
.block-search-api-page {
  @extend %header__search;
}
