.vagrant
.sass-cache
.ruby-version
.bundle
/behat.local.yml
/bin/*
/vendor/*
/build/*
/build.properties

# Exclude files added by drush make
/libraries/*
/modules/contrib
/themes/contrib
/app
.DS_Store
/.idea
