.vagrant
.sass-cache
.ruby-version
.bundle
/behat.local.yml
/bin/*
/vendor/*
/build/*
/build.properties
node_modules
npm-shrinkwrap.json
Gemfile.lock

# Exclude build files created by gulp and kss-node.
/agov/themes/agov/agov_whitlam/css/
/agov/styleguide

# Exclude files added by drush make
/agov/libraries/*
/agov/modules/contrib
/agov/modules/development
/agov/themes/contrib
/app
.DS_Store
/.idea
