.vagrant
.sass-cache
.ruby-version
.bundle
/behat.local.yml
/bin/*
/vendor/*
/build/*
/build.properties
node_modules
npm-shrinkwrap.json
Gemfile.lock

# Exclude build files created by gulp and kss-node.
/themes/agov/agov_whitlam/css/
/styleguide

# Exclude files added by drush make
/libraries/*
/modules/contrib
/themes/contrib
/app
.DS_Store
/.idea
