// Two column
//
// Markup: two-column.hbs
//
// Style guide: layouts.two-column
.two-column {

  @include clearfix;
  @include box-sizing(border-box);

  @include respond-to('two-column') {
    &__left {
      float: left;
      width: 67%;
      padding: 0 12px;
    }

    &__right {
      float: left;
      width: 33%;
      padding: 0 12px;
    }
  }
}
