// Box icon
//
// A simple box-icon styling
//
// Markup: box-icon.hbs
//
// .box-icon--grey - Grey box styling.
//
// Style guide: components.box.box-icon


.box-icon {
  &.box {
    padding: 20px 0;
  }

  &--grey {
    background-color: color(border);
  }

  &:hover {
    background-color: color(border);
  }

  &-left {
    float: left;
    text-align: center;
    width: 85px;

    @include respond-to('small') {
    }

    i {
      font-size: 40px;
    }
  }

  &-right { 
    padding-left: 85px;
  }

  &__title {
    font-size: 20px;
    margin-bottom: 4px;
    margin-top: 4px;
  }
}
