<div class="box box-icon {{modifier_class}}">
  <div class="box-icon-left"><i class="fa fa-camera"></i></div>

  <div class="box-icon-right">
    <h2 class="box-icon__title"><a href="#">{{title}}</a></h2>
    <div class="box-icon__content">
      {{content}}
    </div>
  </div>
</div>
