// Box
//
// A simple box styling. @TODO needs work
//
// Markup: box.hbs
//
// .box--alternate - Alternate box styling.
//
// :hover  - Hover styling.
//
// Style guide: components.box

.box,
%box {
  border: 2px solid color(border);
  padding: 20px;

  &__title {
    margin-bottom: 4px;
    margin-top: 0;
  }

  &:hover {
    background-color: color(border);
  }
}
