<div class="box--icon box--with-border">
  <div class="box--icon__left"><span class="fa fa-bus" aria-hidden="true"></span></div>
    <div class="box--icon__right">
    <h3 class="box__title"><a href="#">{{title}}</a></h3>
    <div class="box__content">
      {{content}}
    </div>
  </div>
</div>
