// Comment
//
// The comment of page.
//
// @TODO
//
// Style guide: components.comment

.comment__section-title {
  margin-bottom: 45px;
  font-weight: 400;
}

.comment-inner-wrapper {
  padding-left: 50px;
  position: relative;
	
  &:before {
    @extend .fa;
    @extend .fa-comment-o;
    position: absolute;
    top: 3px;
    left: 0;
    font-size: 30px;
    color: color(comment-icon);
  }

  .submitted {
    margin-top: 0;
    font-family: $font-comment;
    display: inline;
    font-size: 15px;
	}
}



.author {
  a {
    color: color(text);
    text-transform: capitalize;
    text-decoration: none;
		
    &:hover,
    &:focus {
      color: color(link);
      outline: none;
		}
	}
}

.date-month {
  color: color(comment-date);
}

.comment {
  margin-bottom: 42px;

  &.with-picture {
    .comment-inner-wrapper {
      padding-left: 64px;

      &:before {
        content: '';
      }
    }
	}

  header {
    position: relative;
    margin-bottom: 5px;

    .mark {
      position: absolute;
      right: 0;
      top: 0;
    }

    .watermark {
      position: absolute;
      left: 0;
      right: 0;
      z-index: -1;
    }
	}

  .field-name-comment-body {
    p {
      margin: 0;
		}
	}

  ul.links {
    margin: 10px 0;
    text-indent: 0;
	}

  .user-picture {
    float: left;

    a {
      display: inline-block;
      padding-top: 3px;

      &:hover,
      &:focus {
        outline: none;
	    }
    }

    img {
      @include border-radius(100%);
      width: 48px;
      height: 48px;
	  }
  }
}

// Reply 
.indented {
  .comment {
    margin-top: -12px;
    padding-left: 8px;

    @include respond-to('medium') {
      padding-left: 50px;
    }

    &.with-picture {
      padding-left: 14px;

      @include respond-to('medium') {
        padding-left: 64px;
      }

      .comment-inner-wrapper {
        padding-left: 48px;
  	  }
    }
  }

  .user-picture img {
    width: 32px;
    height: 32px;
  }

  .comment-inner-wrapper {
    padding-left: 42px;

    &:before {
      font-size: 24px;
    }
  }
}

