// scss-lint:disable SpaceAfterComma

// Breakpoints
//
// Use the `respond-to()` mixin to use named breakpoints. Documentation is
// available in the [Breakpoint wiki
// pages](https://github.com/at-import/breakpoint/wiki/Respond-To).
//
// Style guide: sass.variables.breakpoints

$small:  480px;
$medium: 769px;
$large:  960px;
$larger: 1024px;

$breakpoints: (
    'small':       ($small,               'no-query' true),
    'medium':      ($medium,              'no-query' true),
    'medium-only': ($medium ($large - 1), 'no-query' true),
    'large':       ($large,               'no-query' true),
    'larger':      ($larger),

    'header-mobile': (0 970px),
    'header-desktop': (971px),
    'three-column-menu-two-column': (550px 960px),
    'three-column-menu-three-column': (961px),
    'two-column': (850px),
);
