// scss-lint:disable ColorKeyword, ColorVariable

// Colors
//
// Use the <code>color()</code> function to add colors to CSS properties.
//
// Markup: chroma-kss-markup.hbs
//
// Weight: -1
//
// Style guide: sass.colors

// The following Sass functions are required to generate some variables' values,
// so we load them first.
@import 'chroma/functions';

// Define descriptive names of color values.
$chroma: define-default-color-scheme('Descriptive color names for use in "functional" color names below.');
$chroma: add-colors((
    white:                  #fff,
    white-smoke:            #f3f3f3,
    grey-extra-light:       #e8e8e8,
    grey-light:             #ccc,
    grey-medium:            #999,
    grey-medium-dark:       #636363,
    grey-dark:              #666,
    grey-extra-dark:        #333,
    black:                  #000,

    pink-pale:              #fef5f1,
    red:                    #c00,
    red-orange:             #ed541d,
    rust:                   #8c2e0b,

    yellow-pale:            #ffd,
    yellow:                 #ff0,
    yellow-dark:            #ed5,

    green-pale:             #f8fff0,
    green-light:            #be7,
    green-dark:             #234600,
));

// Define color names for functional uses.
$chroma: define-color-scheme('functional', 'Colors used by functional parts of the design.');
$chroma: add-colors('functional', (
  // Colors used in the main content area.
    text:                   'black',
    text-bg:                'white',
    text-rev:               'white',
    text-bg-rev:            'black',

    border:                 'grey-light',

    autocomplete:           'text',
    autocomplete-bg:        'text-bg',
    autocomplete-select:    'text',
    autocomplete-select-bg: 'white-smoke',

    form-error:             'red',

    mark-highlight:         'red',
    mark-bg:                'yellow',

    preview-bg:             'yellow-pale',

    progress-bar:           'grey-light',
    progress-bar-bg:        'white-smoke',
    progress-bar-text:      'black',

    resizable-grippie:      'grey-extra-light',

    row-stripe:             'grey-extra-light',
    row-disabled:           'grey-light',

    skip-link:              'text-rev',
    skip-link-bg:           'text-bg-rev',

    secondary-menu:         'white',
    secondary-menu-hover:   'grey-light',

    status:                 'green-dark',
    status-bg:              'green-pale',
    status-border:          'green-light',
    status-highlight:       'text',
    warning:                'rust',
    warning-bg:             'yellow-pale',
    warning-border:         'yellow-dark',
    error:                  'rust',
    error-bg:               'pink-pale',
    error-border:           'red-orange',

    tabs-bg:                'text-bg',
    tabs-bg-hover:          'white-smoke',
    tabs-border:            'border',
    tabs-secondary-bg:      'white-smoke',
    tabs-secondary-bg-hover: 'grey-extra-light',

    table-drag:             'yellow-pale',
    table-select:           'yellow-pale',

    watermark:              'grey-extra-light',
));

$chroma-active-scheme: 'functional';
