// Navbar menu
//
// Navbar menu
// is available.
//
// Markup: navbar.hbs
//
// Style guide: components.navbar

.bg-navbar {
  background: color(navbar-bg);
}

.block-superfish {
  @extend %navbar;
}

.navbar,
%navbar {
  width: 100%;
  margin: 0 auto;

  @include respond-to('larger') {
    width: $container;
  } 

  .menu {
    @extend .clearfix;
    text-indent: 0;
    margin: 0;
    padding: 0;

    li {
      @extend %menu__item;
    }

    ul {
      @extend %sub-menu;
    }
  }
}

.menu__item,
%menu__item {
  padding: 0;
  float: left;
  list-style: none;
  position: relative;
  width: 100%;
  border: 0;

  @include respond-to('small') {
    width: auto;
  } 

  a {
    color: color(navbar);
    font-family: $font-body;
    padding: 7px 22px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 100%;
    font-weight: inherit;
    line-height: 1;

    @include respond-to('larger') {
      width: auto;
      padding: 19px 30px;
      display: block;
    } 

    &:focus {
      border: 0;
      line-height: inherit;
      outline: none;
    }

    &.active,
    &:hover,
    &:focus {
      background: color(navbar);
      color: color(navbar-active);
    }
  }

  &:hover {
    a {
      @include respond-to('larger') {
        background: color(navbar-bg-hover);
        color: color(navbar-active);
      }
    }

    ul {
      @include respond-to('larger') {
        left: 0;
        padding: 2px;
        margin: 0;
        background: color(navbar-bg-hover);
        top: 55px;
      }

      ul {
        margin: 0 -2px;
        top: -2px;
      }
    }
  }
}

.sub-menu,
%sub-menu {
  @include respond-to('larger') {
    background: color(navbar-bg-hover);
    left: -999em;
    position: absolute;
    width: 200px;
    z-index: 99;
    top: 56px; 
  } 

  li {
    width: 100%;

    &:hover {
      > a {
        @include respond-to('larger') {
          background: color(navbar);
          color: color(link-hover);
          text-decoration: underline;
        }
      }

      ul {
        @include respond-to('larger') {
          left: 200px;
          display: block;
        }
      }
    }

    a {
      width: 100%;
      padding-left: 30px;

      @include respond-to('larger') {
        padding: 7px 20px;
      }

      &:hover { 
        @include respond-to('larger') {
          background: color(navbar);
          color: color(link-hover);
          text-decoration: underline;
        }
      }
    }
  }

  ul {
    @include respond-to('larger') {
      display: none;
      position: absolute;
      top: -2px;
    }
  }
}
