<div class="region-navigation">
  <div class="navbar">
    <ul class="menu sf-menu sf-main-menu sf-horizontal sf-style-none sf-total-items-4 sf-parent-items-1 sf-single-items-3 superfish-processed sf-js-enabled">
      <li class="active-trail first odd sf-item-1 sf-depth-1 sf-no-children">
        <a class="sf-depth-1 active" href="#">Home</a>
      </li>
      <li class="middle even sf-item-2 sf-depth-1 sf-total-children-2 sf-parent-children-1 sf-single-children-1 menuparent">
        <a class="sf-depth-1 menuparent" href="#">About Us</a>
        <ul class="sf-hidden">
          <li class="first odd sf-item-1 sf-no-children">
            <a class="sf-depth-2" href="#">News &amp; Media</a>
          </li>
          <li class="first odd sf-item-1 sf-no-children">
            <a class="sf-depth-2" href="#">News &amp; Media</a>
          </li>
          <li class="last even sf-item-2 sf-depth-2 sf-total-children-1 sf-parent-children-0 sf-single-children-1 menuparent">
            <a class="sf-depth-2 menuparent" href="#" >Services</a>
            <ul class="sf-hidden">
              <li class="firstandlast odd sf-item-1 sf-depth-3 sf-no-children">
                <a class="sf-depth-3" href="#">Publications</a>
              </li>
              <li class="firstandlast odd sf-item-1 sf-depth-3 sf-no-children">
                <a class="sf-depth-3" href="#">Publications</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="middle odd sf-item-3 sf-depth-1 sf-no-children">
        <a class="sf-depth-1" href="#">Resources</a>
      </li>
      <li class="last even sf-item-4 sf-depth-1 sf-no-children">
        <a class="sf-depth-1" href="#">Contact</a>
      </li>
    </ul>
  </div>
</div>