<div class="main-navigation">
<nav tabindex="-1" id="main-menu" role="navigation" class="main-menu">
  <h2 class="visually-hidden">Main menu</h2>

  <ul class="menu">
    <li class="menu__item first active"><a class="active" href="#">Home</a></li>
    <li class="menu__item"><a href="#">About Us</a></li>
    <li class="menu__item expanded">
      <a title="" href="#">Services</a>
      <ul class="menu">
        <li class="menu__item first"><a class="menu__link" href="#">News &amp; Media</a></li>
        <li class="menu__item"><a class="menu__link " href="#">Resources</a></li>
        <li class="menu__item expanded last">
          <a class="menu__link" href="#">Publications</a>
          <ul class="menu">
            <li class="menu__item"><a class="menu__link" href="#">News &amp; Media</a></li>
            <li class="menu__item"><a class="menu__link " href="#">Resources</a></li>
            <li class="menu__item"><a class="menu__link" href="#">Publications</a></li>
         </ul>
        </li>
     </ul>
    </li>
    <li class="menu__item last"><a href="#">Contact</a></li>
  </ul>        
</nav>
</div>