<div class="demo-bg">
  <div class="navbar block-superfish ">
    <ul id="demo" class="menu sf-menu sf-main-menu">
      <li class="active-trail first"><a class="active" href="#">Home</a></li>
      <li class="middle menuparent">
        <a class="menuparent" href="#">About Us</a>
        <ul class="sf-hidden">
          <li><a href="#">News &amp; Media</a></li>
          <li><a href="#">News &amp; Media</a></li>
          <li class="last menuparent">
            <a class="menuparent" href="#" >Services</a>
            <ul class="sf-hidden">
              <li><a href="#">Publications</a></li>
              <li><a href="#">Publications</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="middle"><a href="#">Resources</a></li>
      <li class="last"><a href="#">Contact</a></li>
    </ul>
  </div>
</div>