<div class="main-navigation">
<nav tabindex="-1" id="main-menu" role="navigation" class="main-menu">
  <h2 class="visually-hidden">Main menu</h2>

  <ul class="links inline clearfix">
    <li class="leaf first active"><a class="active" href="/">Home</a></li>
    <li class="leaf"><a href="/about-us">About Us</a></li>
    <li class="expanded">
      <a title="" href="/services">Services</a>
      <ul class="menu">
        <li class="menu__item first leaf"><a class="menu__link" href="/news-media">News &amp; Media</a></li>
        <li class="menu__item leaf"><a class="menu__link " href="/resources">Resources</a></li>
        <li class="menu__item expanded leaf last">
          <a class="menu__link" href="/publications">Publications</a>
          <ul class="menu">
            <li class="menu__item"><a class="menu__link" href="/news-media">News &amp; Media</a></li>
            <li class="menu__item"><a class="menu__link " href="/resources">Resources</a></li>
            <li class="menu__item"><a class="menu__link" href="/publications">Publications</a></li>
         </ul>
        </li>
     </ul>
    </li>
    <li class="leaf last"><a href="/contact">Contact</a></li>
  </ul>        
</nav>
</div>