// Teaser
//
// Teaser of page
//
// Markup: teaser.hbs
//
// Style guide: components.teaser

.teaser,
%teaser {
  &__title {
    margin-top: 0;
    margin-bottom: 5px;
  }
}

// Teaser has image
//
// Teaser of page
//
// Markup: teaser-image.hbs
//
// .teaser--wide  - Teaser Wide.
//
// Style guide: components.teaser.teaser-image

.teaser--image {
  .teaser--wrap-image {
    margin-bottom: 10px;
  }
}

// Teaser wide

.teaser--wide {
  display: inline-block;
  width: 100%;

  .teaser--wrap-image {
    float: left;
    padding-right: 30px;

    img {
      width: 200px;
      height: 113px;
    }
  }

  .teaser--wrap-content {
    margin-top: 5px;
  }
}
