<div class="teaser {{modifier_class}}">
  <div class="teaser__image">
    <img title="text image" alt="text image" src="../../profiles/agov/themes/agov/agov_whitlam/sass/components/teaser/teaser--image.png"/>
  </div>

  <h3 class="teaser__title"><a href="#">{{title}}</a></h3>
  <div class="teaser__content">
    <p>{{content}}</p>
  </div>
</div>
