<div class="teaser teaser--image {{modifier_class}}">
  <div class="teaser--wrap__image">
    <img title="text image" alt="text image" src="../../profiles/agov/themes/agov/agov_whitlam/sass/components/teaser/teaser--image.png"/>
   </div>

  <div class="teaser--wrap__content">
    <h3 class="teaser__title"><a href="#">{{title}}</a></h3>
    <div class="teaser__content">
      {{content}}
    </div>
  </div>
</div>
