<div class="region region-bottom">
	<div class="footer-bottom layout-center clearfix">
    <p class="footer-bottom__legal">© Copyright 2015 aGov.</p>
    <div class="footer-bottom__to-top"><i class="fa fa-chevron-circle-up fa-lg"></i> <a class="footer-bottom__link" href="#">Back to top </a></div>
	</div>
</div>
