// Unstyled list
//
// A list with all styles removed.
//
// Markup: unstyled-list.hbs
//
// Style guide: components.unstyled-list

.unstyled-list,
%unstyled-list {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  list-style-image: none;
  text-indent: 0;

  // Turn off margins/padding on nested lists.
  ol,
  ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
}

//
// Drupal selectors.
//

// scss-lint:disable SelectorDepth

.footer-top {
  .block-menu,
  .menu-block-wrapper {
    > ul {
      @extend %unstyled-list;
    }
  }
}
