<ul class="pager {{modifier_class}}">
  <li class="pager__item">
    <a class="pager__link" title="Go to first page" href="#"><span class="fa fa-angle-double-left" aria-hidden="true"></span> first</a>
  </li>
  <li class="pager__item">
    <a class="pager__link" title="Go to previous page" href="#"><span class="fa fa-angle-left" aria-hidden="true"></span> previous</a>
  </li>
  <li class="pager__item">
    <a class="pager__link" title="Go to page 1" href="#">1</a>
  </li>
  <li class="pager__item">
    <a class="pager__link" title="Go to page 2" href="#">2</a>
  </li>
  <li class="pager__current-item">3</li>
  <li class="pager__item">
    <a class="pager__link" title="Go to page 4" href="#">4</a>
  </li>
  <li class="pager__item">
    <a class="pager__link" title="Go to page 5" href="#">5</a>
  </li>
  <li class="pager__item">
    <a class="pager__link" title="Go to next page" href="#">next <span class="fa fa-angle-right" aria-hidden="true"></span></a>
  </li>
  <li class="pager__item">
    <a class="pager__link" title="Go to last page" href="#">last <span class="fa fa-angle-double-right" aria-hidden="true"></span></a>
  </li>
</ul>
