// Comments
//
// The comments of page.

.comment,
%comment {
  &__outer-wrapper-title {
    @extend %divider;
  }

  &__inner-wrapper {
    @include padding-left(50px);
    position: relative;

    &:before {
      @include fa-icon();
      content: $fa-var-comment-o;
      position: absolute;
      top: 3px;
      left: 0;
      font-size: 30px;
      color: color(comment-icon);
    }
  }

  &__meta {
    @include font-size(s);
    color: color(comment-meta);
    text-transform: uppercase;
  }

  ul.links {
    a {
      @include font-size(s);
      text-transform: uppercase;
    }
  }
}
