// Footer Bottom
//
// The footer bottom region of page
//
// Markup: footer-bottom.hbs
//
// Style guide: components.footer-bottom

.footer-bottom,
%footer-bottom {
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: color(grey-extra-dark);
  color: color(text-bg);

  &__left {
    @include zen-apply-gutter-padding($gutters: 40px);

    @include respond-to(medium) {
      @include zen-apply-gutter-padding($gutters: 25px);
      float: left;
    }
  }

  &__right {
    @extend %footer-bottom__left;

    @include respond-to(medium) {
      float: right;
    }
  }

  :link,
  :visited,
  &__link {
    color: color(text-bg);

    &:hover,
    &:focus {
      color: color(grey-light);
    }
  }
}
