// Footer Bottom
//
// The footer bottom region of page
//
// Markup: footer-bottom.hbs
//
// Style guide: components.footer-bottom

.region-footer-bottom {
  background-color: color(grey-extra-dark);
  color: color(text-bg);
}

.footer-bottom {
  padding: 30px 15px;

  .footer-bottom__legal {
    margin: 0 0 1.5625rem;

    @include respond-to(medium) {
      float: left;
      margin: 0;
    }
  }

  .footer-bottom__to-top {
    @include respond-to(medium) {
      float: right;
    }
  }

  .footer-bottom__link {
    color: color(text-bg);

    &:hover {
      color: color(grey-light);
    }
  }
}
