<div class="layout-3col layout-center">
  <div class="layout-3col__grid-item-container">
  	<div class="{{modifier_class}}">
  	 Welcome to PreviousNext's redmine issue tracker. We've provided some simple introductory screencasts to help you get started. The screencasts are hosted at Vimeo, and to ensure their privacy, we require you to have a (free) Vimeo login in order to view them.
  	</div>
  </div>
</div>
