// Dependencies.
@import '../normalize';

// Links
//
// Hyperlinks are used to allow the user to navigate to other resources or to
// download a resource.
//
// The order of link states are based on Eric Meyer's article:
// http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states

:link,
%link {
  color: color(link);
}

:visited {
  color: color(link-visited);
}

a:hover,
a:active,
a:focus {
  color: color(link-hover);
}

a:focus {
  outline: 2px solid color(link-border-focus);
}
