// Divider
//
// Can be used as an `<hr>`, an empty `<div>` or as a container.
//
// Markup: divider.hbs
//
// Style guide: components.divider

.divider,
%divider {
  @include output-rhythm(margin, rhythm(1.6) 0);
  border: 0;
  border-top: 10px solid color(border);


}
