// Header
//
// The header of page.
//
// Markup: header.hbs
//
// Style guide: components.header

.header,
%header {
  background: color(header-background);
  position: relative;
  margin-bottom: 80px;

  @include respond-to('medium') {
    margin-bottom: 0;
  }

  &__inner {
    padding: 30px 35px 25px;
    position: relative;

    @include respond-to('medium') {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  &__secondary-menu {
    position: absolute;
    top: 0;
    right: 0;
    font-size: .8rem;

    .links.inline {
      margin: 0;
    }

    a {
      color: color(secondary-menu);

      &:hover {
        color: color(secondary-menu-hover);
      }
    }
  }

  @include respond-to('medium') {
    &__logo {
      float: left;
    }

    &__region {
      float: right;
    }
  }

  &__logo-image {
    max-width: 50%;

    @include respond-to('medium') {
      max-width: 100%;
    }
  }
}
