<p>
  <button type="button">A normal button</button>
  <button type="submit">A submit button</button>
  <button type="reset">A reset button</button>
</p>
<p>
  <input type="button" value="Input button">
  <input type="submit" value="Input submit button">
  <input type="reset" value="Input reset button">
</p>
<p>
  <button type="button" disabled="disabled">A disabled button</button>
  <button type="submit" disabled="disabled">A disabled submit button</button>
  <button type="reset" disabled="disabled">A disabled reset button</button>
</p>
<p>
  <input type="button" disabled="disabled" value="Disabled input button">
  <input type="submit" disabled="disabled" value="Disabled input submit button">
  <input type="reset" disabled="disabled" value="Disabled input reset button">
</p>
