<form>
  <div class="form-group">
    <label for="inputText">Text</label>
    <input type="text" id="inputText" placeholder="Enter some text">
  </div>
  <div class="form-group">
    <label for="inputSearch">Search</label>
    <input type="search" id="inputSearch" placeholder="Search">
  </div>
  <div class="form-group">
    <label for="inputTel">Telephone</label>
    <input type="text" id="inputTel" placeholder="Enter some text">
  </div>
  <div class="form-group">
    <label for="inputURL">URL</label>
    <input type="url" id="inputURL" placeholder="Enter a URL">
  </div>
  <div class="form-group">
    <label for="inputEmail">Email address</label>
    <input type="email" id="inputEmail" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input type="password" id="inputPassword" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="inputDate">Date</label>
    <input type="date" id="inputDate" placeholder="Enter a date">
  </div>
  <div class="form-group">
    <label for="inputTime">Time</label>
    <input type="time" id="inputTime" placeholder="Enter a time">
  </div>
  <div class="form-group">
    <label for="inputNumber">Number</label>
    <input type="number" id="inputNumber" placeholder="Enter a number">
  </div>
  <div class="form-group">
    <label for="inputRange">Range</label>
    <input type="range" id="inputRange" placeholder="Enter a range">
  </div>
  <div class="form-group">
    <label for="inputColor">Color</label>
    <input type="color" id="inputColor" placeholder="Enter a color">
  </div>
  <div class="form-group">
    <label for="inputFile">File input</label>
    <input type="file" id="inputFile">
  </div>
</form>
