<form>
  <fieldset>
    <legend>A fieldset</legend>
      <div class="form-group">
        <label for="fieldsetText">Text input</label>
        <input type="text" id="fieldsetText" placeholder="Text input">
      </div>
  </fieldset>

  <fieldset disabled>
    <legend>A disabled fieldset</legend>
    <div class="form-group">
      <label for="fieldsetText2">Disabled text input</label>
      <input type="text" id="fieldsetText2" placeholder="Disabled input">
    </div>
    <div class="form-group">
      <label for="fieldsetSelect">Disabled select menu</label>
      <select id="fieldsetSelect">
        <option>Disabled select</option>
      </select>
    </div>
    <div class="form-group">
      <label><input type="checkbox"> Can't check this</label>
    </div>
  </fieldset>
</form>
