<form>
  <div class="form-group">
    <label for="lableInputText">A label for a text input</label>
    <input class="{{modifier_class}}" type="text" id="lableInputText" placeholder="Enter some text">
  </div>

  <div class="form-group"><div>
    <label><input type="checkbox"> A label wrapped around a checkbox</label>
  </div>
</form>
