// Example layout
//
// A demonstration of how to start a file.
//
// Markup: example.hbs
//
// Style guide: layouts.example

.example,
%example {
  max-width: $medium;
  margin-left: auto;
  margin-right: auto;
}
