// Footer
//
// The footer of page
//
// Markup: footer.hbs
//
// Style guide: components.footer

.footer-wrapper {
  background-color: color(white-smoke);
}

.footer {
  max-width: $container;
  padding: 30px 15px 20px;
  margin: 0 auto;
}
