// Footer Bottom
//
// The footer bottom region of page

.footer-bottom,
%footer-bottom {
  background-color: color(grey-extra-dark);
  color: color(text-bg);

  &__left {
    // Inherit from agov_base.
  }

  &__right {
    // Inherit from agov_base.
  }

  :link,
  :visited,
  &__link {
    color: color(text-bg);

    &:hover,
    &:focus {
      color: color(grey-light);
    }
  }
}
