// Comments
//
// The comments of page.
//
// Markup: comment.hbs
//
// Style guide: components.comment

// Comments picture
//
// The comments of page.
//
// Markup: comment-picture.hbs
//
// Style guide: components.comment-picture

.comment,
%comment {
  margin-bottom: 42px;

  // Wrapper for the list of comments.
  &__outer-wrapper {
    @include output-rhythm(margin, rhythm(1) 0);

    // Improve indented comment alignment.
    .indented {
      margin-left: 50px;
    }
  }

  &__outer-wrapper-title {
    @extend %divider;
    margin-bottom: 45px;
    padding-top: 25px;
  }

  &__inner-wrapper {
    padding-left: 50px;
    position: relative;

    &:before {
      @extend .fa;
      @extend .fa-comment-o;
      position: absolute;
      top: 3px;
      left: 0;
      font-size: 30px;
      color: color(comment-icon);
    }
  }

  &__meta {
    color: color(comment-meta);
    text-transform: uppercase;
    font-size: 80%;
  }

  &__permalink {
    display: inline-block;
    float: right;
  }

  &__title {
    margin: 0 0 5px;
  }

  p {
    margin: 3px 0;
  }

  ul.links {
    display: inline-block;
    margin: 10px 0;
    padding: 0;
    text-indent: 0;

    li {
      padding-left: 0;
    }

    a {
      text-transform: uppercase;
      font-size: 80%;
    }
  }
}
