// Search
//
// A simple search styling. @TODO needs work
//
// Markup: search.hbs
//
// .search-form--light - Alternate search light styling.
//
// Style guide: components.search

.search-form,
%search-form {
  border: 2px solid color(border);
  padding: 10px 20px;
  color: color(search-color);

  @include respond-to('small') {
    padding: 20px;
  }

  &--light {
    @extend %search-form--light;
  }
  
  &__wrap {
    position: relative;
    display: inline-block;
    padding-bottom: 13px;
    width: 100%;

    @include respond-to('larger') {
      min-width: 363px;
      width: auto;
    }

    @include respond-to('small') {
      min-width: 320px;
      width: auto;
    }
  }

  &__border {
    border-bottom: 1px solid color(search-border);

    @include respond-to('small') {
      border-bottom: 2px solid color(search-border);
    }
  }

  .form-submit {
    background: none;
    background-repeat: no-repeat;
    background-image: inline-image('components/search/search-icon-blue.png');
    @if support-legacy-browser(ie, '7') {
      *background-image: image-url('components/search/search-icon-blue.png');
    }
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    text-indent: -999em;
    display: inline-block;
    width: 23px;
    height: 23px;
    background-color: none;
  }

  .form-item {
    .form-text {
      @include box-shadow(none);
      background: none;
      border: 0;
      font-style: italic;
      font-weight: bold;

      &::-webkit-input-placeholder {
        @include opacity(1);
        color: color(search-color);
			}

      &:-moz-placeholder {
        @include opacity(1);
        color: color(search-color); 
      }

      &::-moz-placeholder { 
        @include opacity(1);
        color: color(search-color);  
      }

      &:-ms-input-placeholder {  
        color: color(search-color); 
			}
  	}
  }
}

.search-form--light,
%search-form--light {
  color: color(search-color-light);

  .search-form__border {
    border-bottom: 1px solid color(search-border-light);

    @include respond-to('small') {
      border-bottom: 2px solid color(search-border-light);
    }
  }

  .form-submit {
    background: none;
    background-repeat: no-repeat;
    background-image: inline-image('components/search/search-icon.png');
    @if support-legacy-browser(ie, '7') {
      *background-image: image-url('components/search/search-icon.png');
    }
  }

  .form-item {
    .form-text {
      &::-webkit-input-placeholder {
        @include opacity(1);
        color: color(search-border-light);
			}

      &:-moz-placeholder {
        @include opacity(1);
        color: color(search-border-light); 
      }

      &::-moz-placeholder { 
        @include opacity(1);
        color: color(search-border-light);  
      }

      &:-ms-input-placeholder {  
        color: color(search-border-light); 
			}
  	}
  }
}
