<div class="wrap-demo">
  <form class="search-form {{modifier_class}}">
    <div>
      <div class="container-inline">
        <h2 class="element-invisible">Search form</h2>
        <div class="form-item">
          <label class="element-invisible">Search </label>
          <input type="text" value=""class="form-text" placeholder="Search aGov">
        </div>
        <div class="form-actions form-wrapper">
          <input type="submit" value="Search" class="form-submit">
        </div>
      </div>
    </div>
  </form>
</div>
