<div class="header">
  <div class="search__wrapper">
    <div class="search {{modifier_class}}">
      <div class="search__inner-wrapper">
        <label class="element-invisible">Search</label>
        <input type="search" class="search__input" placeholder="Search aGov">
        <input type="submit" class="search__button" value="Search">
      </div>
    </div>
  </div>
</div>
