// Footer Top
//
// The footer top region of page
//
// Markup: footer-top.hbs
//
// Style guide: components.footer-top

.region-footer-top {
  background-color: color(white-smoke);
}

.footer-top {
  padding: 30px 15px 20px;

  .menu {
    @extend %clearfix;
    list-style: none;
    padding: 0;
  }

  .menu__item {
    @include respond-to(medium) {
      width: 30%;
      float: left;
    }
  }
}
