// Footer Top
//
// The footer top region of page
//
// Markup: footer-top.hbs
//
// Style guide: components.footer-top

.footer-top,
%footer-top {
  margin-top: 25px;
  background-color: color(white-smoke);
  padding-top: 1px;
  padding-bottom: 25px;

}
