// Footer Top
//
// The footer top region of page
//
// Markup: footer-top.hbs
//
// Style guide: components.footer-top

.footer-top,
%footer-top {
  @include zen-apply-gutter-padding($gutters: 40px);

  @include respond-to(medium) {
    @include zen-apply-gutter-padding($gutters: 25px);
  }

  &__wrapper {
    margin-top: 25px;
    background-color: color(white-smoke);
    padding-top: 1px;
    padding-bottom: 25px;
  }
}
