// Tags
//
// tags.
//
// Markup: tags.hbs
//
// Style guide: components.tags

.tags,
%tags {

  &__items {
    @extend %unstyled-list;
    display: inline;
  }

  &__item {
    padding-left: 3rem;

    @include respond-to('medium') {
      display: inline-block;
      padding-left: 0;

      &:after {
        content: ', ';
      }

      &:last-child:after {
        content: '';
      }
    }

    &:first-child {
      display: inline-block;
      padding-left: 0;
    }
  }
}
