// List links
//
// A list of links that are list with each other.
//
// Markup: list-links.hbs
//
// Style guide: components.list-links

.list-links,
%list-links {
  padding: 0;
  text-indent: 0;

  &__item,
  li {
    list-style-type: none;
    padding: 0;
    margin-bottom: 9px;
    list-style: none;

    &.is-expanded {
      list-style: none;

      ul {
        padding-left: 28px;
      }
    }

    &.is-collapsed {
      list-style: none;
    }
  }

  &__link,
  a {
    &.is-active {
      text-decoration: none;
      font-family: $font-bold;
      color: color(list-links-active);
    }
  }
}

