<div class="list-links {{modifier_class}}">
  <ul>
    <li class="list-links__item">
      <a href="/" class="list-links__link">Home</a>
    </li>
    <li class="list-links__item is-collapsed">
      <a href="#" class="list-links__link">Blandit Jugis Sudo</a>
    </li>
    <li class="list-links__item is-expanded is-active-trail">
      <a href="#" class="list-links__link is-active-trail">Causa Diam Jumentum Wisi</a>
      <ul class="list-links">
        <li class="list-links__item">
          <a href="#" class="list-links__link">Dolor Huic Oppeto</a>
        </li>
        <li class="list-links__item is-active-trail is-active">
          <a href="#" class="list-links__link is-active">Decet</a>
        </li>
        <li class="list-links__item is-collapsed">
          <a href="#" class="list-links__link">Aliquip Similis</a>
        </li>
      </ul>
    </li>
    <li class="list-links__item is-collapsed">
      <a href="#" class="list-links__link">Abigo Caecus Causa Illum</a>
    </li>
    <li class="list-links__item is-collapsed">
      <a href="#" class="list-links__link">Ibidem Sudo</a>
    </li>
  </ul>
</div>